<!DOCTYPE html>
<html lang="fr" class="rayuki">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/img/logo.svg" />
    <title>Configure Apps</title>
    <link rel="stylesheet" href="/autoload/default.css" />
    <script src="/cssstylesheet.js"></script>

    <script src="/configureApp.js"></script>
    <script src="http://10.0.0.115:8080/?get_injected_code" async></script>
</head>
<body>
    <rk-configure-app></rk-configure-app>
</body>
</html>