<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="icon" type="image/png" href="/Documents/logo.png" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/autoload/default.css" />
    <script src="/login.js"></script>
    <title>Cobwebsite - Rayuki</title>
</head>

<body>
    <rk-login></rk-login>
</body>

</html>